<div ng-show="article.uid && !article.presentationOnly">
  <div class="row">
    <div class='col-md-12'>
      <div class="tws-article-stock-shipping--stock-info">
        <!--
          HACK: If we have unit "50 cm" we show it as a cm value, if not we now there is always
          just one so we don't show it at all
        -->
        <div ng-if="article.unit.sv === '50 cm' && article.stock.useStock">
          <p ng-bind-html="stockMessage"></p>
        </div>
      </div>
      <p ng-if="article.deliveryInfo && article.deliveryInfo[lang] !== null && !articleData.hasStockInVariants">{{gettext('Delivery')}}: <span ng-bind-html="deliveryInfo"></span></p>
    </div>
  </div>
</div>
